Repository artofcodelabs/front-end-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

change URLs
  src/js/components/page1/ArticleList.js
  src/js/components/page1/Assets.js
  src/js/components/page1/Content.js
  src/js/components/page1/Filter.js
  src/js/components/shared/Layout.js
  src/page1.js
Due: prettier --write, eslint

refactor CSS
  public/index.html
  public/page1.html
  src/css/index.css
  src/css/page1.css
  src/css/shared/index.css
  src/css/shared/tailwind.css
  src/index.js
Due: prettier --write, eslint, stylelint --fix

active on demand
  src/js/components/page1/Content.js
  src/js/components/shared/NavLink.js
Due: prettier --write, eslint

cleaning
  src/js/components/index/Content.js
Due: prettier --write, eslint

refactoring
  src/index.js
  src/js/router/loaders.js
Due: prettier --write, eslint

refactoring
  src/js/containers/page1/ArticleList.js
  src/js/containers/page1/Root.js
  src/page1.js
Due: prettier --write, eslint

v0.0.2
  package.json
Due: none

update bin/clear.sh
  bin/clear.sh
Due: none

fix tests
  __tests__/js/e2e/page1Test.js
Due: prettier --write, eslint

README
  README.md
Due: none

bump testcafe
  package-lock.json
  package.json
Due: none

update deps and node
  .eslintrc
  .nvmrc
  package-lock.json
  package.json
  src/js/actions/page1/articles.js
  tailwind.config.js
Due: prettier --write, eslint

stylelint
  src/css/shared/fonts.css
  src/css/shared/index.css
  src/css/shared/tailwind.css
  src/js/models/Article.js
Due: prettier --write, eslint, stylelint --fix

[ver] 0.0.3
  package-lock.json
  package.json
Due: none

[feature] no imagemin
  package-lock.json
  package.json
  webpack.prod.js
Due: prettier --write, eslint

[minor] loco.svg
  src/images/loco.svg
  src/js/components/page1/Assets.js
  src/js/components/shared/Layout.js
Due: prettier --write, eslint

[internal] replace imagemin with sharp (#14)
  package-lock.json
  package.json
  src/images/loco.svg
  src/js/components/page1/Assets.js
  src/js/components/shared/Layout.js
  webpack.prod.js
Due: prettier --write, eslint

[ver] 0.0.4
  package.json
Due: none

[ver] 0.0.4 (#15)
  package.json
Due: none

[internal] update deps
  package-lock.json
  package.json
  public/index.html
Due: none

update deps
  .nvmrc
  package-lock.json
  package.json
Due: none

[internal] update deps (#33)
  .nvmrc
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: (((any of: ./*.js) or (any of: src/**/*.js)) or (any of: __test__/**/*.js)) or (any of: src/**/*.css)
  eslint: ((any of: ./*.js) or (any of: src/**/*.js)) or (any of: __test__/**/*.js)
  stylelint --fix: any of: src/**/*.css
