Repository artofcodelabs/front-end-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

npm update
  package-lock.json
  package.json
Due: none

Runtime deps have been updated (no warnings)
  package-lock.json
  package.json
Due: none

babel-core has been removed
  package-lock.json
  package.json
Due: none

no babel-minify-webpack-plugin
  package-lock.json
  package.json
  webpack.prod.js
Due: prettier --write, eslint

webpack settings
  webpack.prod.js
Due: prettier --write, eslint

clean-webpack-plugin has been updated
  package-lock.json
  package.json
  webpack.common.js
  webpack.prod.js
Due: prettier --write, eslint

Refactoring
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint

jest ecosystem has been updated
  .babelrc
  package-lock.json
  package.json
Due: none

postcss-* has been updated
  package-lock.json
  package.json
  postcss.config.js
Due: prettier --write, eslint

devDeps have been updated + css minification
  package-lock.json
  package.json
  webpack.prod.js
Due: prettier --write, eslint

no eslint violations
  src/js/helpers/common.js
Due: prettier --write, eslint

no regenerator-runtime but @babel/polyfill
  .babelrc
  __tests__/js/models/Article.test.js
  bin/clear.sh
  package-lock.json
  package.json
  src/page1.js
Due: prettier --write, eslint

Update (#5)
  .babelrc
  .eslintrc
  README.md
  __tests__/js/models/Article.test.js
  bin/clear.sh
  jest.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/css/index.css
  src/css/index.styl
  src/css/page1.css
  src/css/page1.sass
  src/index.js
  src/js/helpers/common.js
  src/page1.js
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint, stylelint --fix

node 12 + update deps
  .nvmrc
  package-lock.json
  package.json
  src/js/models/Article.js
Due: prettier --write, eslint

Update webpack config
  public/index.html
  public/page1.html
  webpack.common.js
Due: prettier --write, eslint

Update deps
  package-lock.json
  package.json
Due: none

npm run lint
  package.json
  src/js/containers/page1/App.js
  src/js/containers/page1/FilterLink.js
  src/js/containers/page1/VisibleArticleList.js
Due: prettier --write, eslint

npm run {eslint,stylelint}
  .lintstagedrc
  package.json
Due: none

update bin/clear.sh
  bin/clear.sh
Due: none

update deps
  package-lock.json
  package.json
Due: none

postcss v8.2.2 + postcss-normalize
  package-lock.json
  package.json
  postcss.config.js
  public/index.html
  public/page1.html
  src/css/shared/index.css
  webpack.common.js
Due: prettier --write, eslint, stylelint --fix

node 16
  .nvmrc
  dev/server.js
  package-lock.json
Due: prettier --write, eslint

working
  package-lock.json
  package.json
  postcss.config.js
  public/index.html
  public/page1.html
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint

fix tests
  jest.config.js
Due: prettier --write, eslint

refactor router
  dev/router.js
  dev/server.js
Due: prettier --write, eslint

HMR
  .eslintrc
  dev/server.js
  jest.config.js
  package.json
  postcss.config.js
  src/js/helpers/common.js
  src/page1.js
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint

HMR for index
  src/index.js
  webpack.dev.js
Due: prettier --write, eslint

npm run serve
  dev/server.js
  package.json
  public/cubing.html
  public/squaring.html
Due: prettier --write, eslint

imagemin
  package-lock.json
  package.json
  webpack.prod.js
Due: prettier --write, eslint

fix
  src/index.js
Due: prettier --write, eslint

update deps
  .lintstagedrc
  package-lock.json
  package.json
  src/index.js
  src/js/helpers/common.js
  src/page1.js
Due: prettier --write, eslint

update husky
  .husky/pre-commit
  package.json
Due: none

in progress (add NoMatch)
  package-lock.json
  package.json
  public/index.html
  public/page1.html
  src/index.js
  src/js/components/index/Root.js
  src/page1.js
Due: prettier --write, eslint

better use of Router
  dev/router.js
  package.json
  src/index.js
  src/js/components/index/Calcs.js
  src/js/components/index/Cube.js
  src/js/components/index/ErrorPage.js
  src/js/components/index/NoMatch.js
  src/js/components/index/Root.js
  src/js/components/index/Square.js
  src/js/components/shared/Nav.js
Due: prettier --write, eslint

Number form
  src/js/components/shared/Nav.js
Due: prettier --write, eslint

number
  src/index.js
  src/js/components/index/Cube.js
  src/js/components/index/Root.js
  src/js/components/index/Square.js
  src/js/components/shared/Nav.js
  src/js/routes/loaders.js
Due: prettier --write, eslint

dynamic routes
  src/js/components/shared/Nav.js
Due: prettier --write, eslint

onChange
  src/js/components/shared/Nav.js
Due: prettier --write, eslint

Nav improvements
  src/js/components/shared/Nav.js
Due: prettier --write, eslint

Page 1 works
  src/js/components/index/Nav.js
  src/js/components/index/Root.js
  src/js/components/page1/Root.js
  src/page1.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: (((any of: ./*.js) or (any of: src/**/*.js)) or (any of: __test__/**/*.js)) or (any of: src/**/*.css)
  eslint: ((any of: ./*.js) or (any of: src/**/*.js)) or (any of: __test__/**/*.js)
  stylelint --fix: any of: src/**/*.css
