Repository artofcodelabs/front-end-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

prettier + eslint
  .eslintrc
  package-lock.json
  package.json
  src/index.js
  src/javascripts/actions/page1/articles.js
  src/javascripts/actions/page1/visibilityFilter.js
  src/javascripts/components/index/Calcs.js
  src/javascripts/components/index/NoMatch.js
  src/javascripts/components/index/Root.js
  src/javascripts/components/page1/Article.js
  src/javascripts/components/page1/ArticleList.js
  src/javascripts/components/page1/Assets.js
  src/javascripts/components/page1/FetchError.js
  src/javascripts/components/page1/Footer.js
  src/javascripts/components/page1/Link.js
  src/javascripts/components/page1/Root.js
  src/javascripts/components/shared/Nav.js
  src/javascripts/config/index.js
  src/javascripts/containers/page1/App.js
  src/javascripts/containers/page1/FilterLink.js
  src/javascripts/containers/page1/VisibleArticleList.js
  src/javascripts/helpers/common.js
  src/javascripts/helpers/math.js
  src/javascripts/models/Article.js
  src/javascripts/reducers/page1/articles.js
  src/javascripts/reducers/page1/index.js
  src/javascripts/reducers/page1/visibilityFilter.js
  src/javascripts/stores/page1/store.js
  src/page1.js
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint

Prettier + stylelint
  src/css/index/li.css
  src/css/shared/fonts.css
  src/css/shared/index.css
Due: prettier --write, stylelint --fix

postcss.config.js
  postcss.config.js
  src/css/page1.sass
  webpack.common.js
Due: prettier --write, eslint

Linting (#1)
  .eslintrc
  .lintstagedrc
  .stylelintrc
  package-lock.json
  package.json
  postcss.config.js
  src/css/index/li.css
  src/css/page1.sass
  src/css/shared/fonts.css
  src/css/shared/index.css
  src/index.js
  src/javascripts/actions/page1/articles.js
  src/javascripts/actions/page1/visibilityFilter.js
  src/javascripts/components/index/Calcs.js
  src/javascripts/components/index/NoMatch.js
  src/javascripts/components/index/Root.js
  src/javascripts/components/page1/Article.js
  src/javascripts/components/page1/ArticleList.js
  src/javascripts/components/page1/Assets.js
  src/javascripts/components/page1/FetchError.js
  src/javascripts/components/page1/Footer.js
  src/javascripts/components/page1/Link.js
  src/javascripts/components/page1/Root.js
  src/javascripts/components/shared/Nav.js
  src/javascripts/config/index.js
  src/javascripts/containers/page1/App.js
  src/javascripts/containers/page1/FilterLink.js
  src/javascripts/containers/page1/VisibleArticleList.js
  src/javascripts/helpers/common.js
  src/javascripts/helpers/math.js
  src/javascripts/models/Article.js
  src/javascripts/reducers/page1/articles.js
  src/javascripts/reducers/page1/index.js
  src/javascripts/reducers/page1/visibilityFilter.js
  src/javascripts/stores/page1/store.js
  src/page1.js
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint, stylelint --fix

normalize.css
  package-lock.json
  package.json
  src/css/shared/index.css
Due: prettier --write, stylelint --fix

jest works
  .lintstagedrc
  __tests__/javascripts/models/Article.test.js
  package-lock.json
  package.json
  webpack.common.js
Due: prettier --write, eslint

eslint + prettier for tests
  .eslintrc
  .lintstagedrc
  __tests__/javascripts/models/Article.test.js
  package-lock.json
  package.json
Due: prettier --write, eslint

Jest (#2)
  .eslintrc
  .lintstagedrc
  __tests__/javascripts/models/Article.test.js
  package-lock.json
  package.json
  webpack.common.js
Due: prettier --write, eslint

clear.sh - updated
  bin/clear.sh
Due: none

Cleaning
  webpack.dev.js
Due: prettier --write, eslint

Valid background.png
  src/images/background.png
Due: none

jest.config.js
  jest.config.js
  package.json
Due: prettier --write, eslint

regenerator-runtime in deps
  package-lock.json
  package.json
Due: none

Deps were updated
  package-lock.json
  package.json
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint

README
  README.md
Due: none

Deps were updated.
  .babelrc
  package-lock.json
  package.json
Due: none

webpack 4
  package-lock.json
  package.json
  public/index.html
  public/page1.html
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint

[bugfix] webpack-sources v1.0.1 is needed in dev deps
  package.json
Due: none

webpack-sources is not needed with webpack 4
  package.json
Due: none

Webpack4
  package-lock.json
  package.json
  public/index.html
  public/page1.html
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint

Deps were updated + imagemin-webpack-plugin instead of image-webpack-loader
  package-lock.json
  package.json
  webpack.prod.js
Due: prettier --write, eslint

Deps were updated + imagemin-webpack-plugin instead of image-webpack-loader (#4)
  package-lock.json
  package.json
  webpack.prod.js
Due: prettier --write, eslint

node v10.5
  .nvmrc
Due: none

Target browsers have been changed
  .babelrc
  .browserslistrc
Due: none

Runtime deps have been updated
  package-lock.json
  package.json
Due: none

[SECURITY] no vulnerabilities
  package-lock.json
  package.json
Due: none

[INTERNAL] node.js v11.7
  .nvmrc
Due: none

Babel 7
  .babelrc
  package-lock.json
  package.json
Due: none

targets have been removed from .babelrc
  .babelrc
Due: none

Deps have been updated
  package-lock.json
  package.json
Due: none

Filter CSS property has been added to check whether Autoprefixer works
  src/css/page1.sass
Due: none

src/javascripts -> src/js
  .eslintrc
  bin/clear.sh
  jest.config.js
  src/js/actions/page1/articles.js
  src/js/actions/page1/visibilityFilter.js
  src/js/components/index/Calcs.js
  src/js/components/index/NoMatch.js
  src/js/components/index/Root.js
  src/js/components/page1/Article.js
  src/js/components/page1/ArticleList.js
  src/js/components/page1/Assets.js
  src/js/components/page1/FetchError.js
  src/js/components/page1/Footer.js
  src/js/components/page1/Link.js
  src/js/components/page1/Root.js
  src/js/components/shared/Nav.js
  src/js/config/index.js
  src/js/containers/page1/App.js
  src/js/containers/page1/FilterLink.js
  src/js/containers/page1/VisibleArticleList.js
  src/js/helpers/common.js
  src/js/helpers/math.js
  src/js/models/Article.js
  src/js/reducers/page1/articles.js
  src/js/reducers/page1/index.js
  src/js/reducers/page1/visibilityFilter.js
  src/js/stores/page1/store.js
  webpack.common.js
Due: prettier --write, eslint

Deprecation warning has been removed
  src/js/stores/page1/store.js
Due: prettier --write, eslint

package-lock.json has been updated
  package-lock.json
Due: none

no stylus
  README.md
  package-lock.json
  package.json
  src/css/index.css
  src/css/index.styl
  src/index.js
  webpack.common.js
  webpack.prod.js
Due: prettier --write, eslint, stylelint --fix

no sass
  .eslintrc
  README.md
  jest.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/css/page1.css
  src/css/page1.sass
  src/page1.js
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint, stylelint --fix

husky
  package-lock.json
  package.json
Due: none

no @babel/plugin-proposal-object-rest-spread
  .babelrc
  package.json
Due: none

Path conditions:
  prettier --write: ((any of: ./*.js) or (any of: src/**/*.js)) or (any of: src/**/*.css)
  eslint: (any of: ./*.js) or (any of: src/**/*.js)
  stylelint --fix: any of: src/**/*.css
