Repository artofcodelabs/front-end-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc:

{
  "./*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "src/**/*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "__test__/**/*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "src/**/*.css": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ]
}

React Router on page1
  src/js/components/page1/Root.js
  src/page1.js
Due: prettier --write, eslint

Nav for page1
  src/js/components/page1/Nav.js
  src/js/components/page1/Root.js
Due: prettier --write, eslint

split - articles and assets
  dev/router.js
  src/js/components/index/Nav.js
  src/js/components/page1/Nav.js
  src/js/components/page1/Root.js
  src/page1.js
Due: prettier --write, eslint

refactoring
  src/index.js
  src/js/components/shared/ErrorPage.js
  src/page1.js
Due: prettier --write, eslint

page1/all
  src/js/actions/page1/articles.js
  src/js/containers/page1/VisibleArticleList.js
  src/page1.js
Due: prettier --write, eslint

cleaning
  src/js/components/page1/ArticleList.js
  src/js/containers/page1/VisibleArticleList.js
Due: prettier --write, eslint

more routes
  src/js/actions/page1/articles.js
  src/js/components/page1/ArticleList.js
  src/js/components/page1/Footer.js
  src/js/containers/page1/FilterLink.js
  src/page1.js
Due: prettier --write, eslint

link improvements
  src/js/actions/page1/articles.js
  src/js/actions/page1/visibilityFilter.js
  src/js/components/page1/Nav.js
  src/js/components/page1/Root.js
  src/js/containers/page1/App.js
Due: prettier --write, eslint

update deps
  package-lock.json
Due: none

remove FetchError
  src/js/components/page1/ArticleList.js
  src/js/components/page1/FetchError.js
Due: prettier --write, eslint

refactoring
  src/js/containers/page1/VisibleArticleList.js
  src/js/reducers/page1/articles.js
  src/js/reducers/page1/index.js
  src/js/selectors/articles.js
Due: prettier --write, eslint

immer + refactoring
  package-lock.json
  package.json
  src/js/containers/page1/App.js
  src/js/containers/page1/VisibleArticleList.js
  src/js/reducers/page1/articles.js
  src/js/reducers/page1/index.js
  src/js/selectors/articles.js
Due: prettier --write, eslint

refactoring
  src/js/actions/page1/articles.js
  src/js/containers/page1/VisibleArticleList.js
  src/js/reducers/page1/articles.js
Due: prettier --write, eslint

common reducers
  src/js/config/inflections.js
  src/js/containers/page1/VisibleArticleList.js
  src/js/reducers/common.js
  src/js/reducers/page1/articles.js
Due: prettier --write, eslint

refactoring
  src/js/actions/page1/articles.js
  src/js/reducers/page1/articles.js
Due: prettier --write, eslint

refactoring
  src/js/actions/page1/articles.js
Due: prettier --write, eslint

HMR only for start
  dev/server.js
  webpack.dev.js
  webpack.hmr.js
Due: prettier --write, eslint

refactoring
  src/index.js
  src/js/router/loaders.js
Due: prettier --write, eslint

services
  src/js/components/index/Cube.js
  src/js/components/index/Square.js
  src/js/components/page1/Assets.js
  src/js/services/math.js
Due: prettier --write, eslint

no redux-thunk
  package-lock.json
  package.json
  src/js/stores/page1/store.js
Due: prettier --write, eslint

refactoring
  webpack.dev.js
Due: prettier --write, eslint

refactoring
  webpack.common.js
Due: prettier --write, eslint

revert refactoring
  webpack.common.js
Due: prettier --write, eslint

testcafe
  .eslintrc
  __tests__/js/e2e/mathOperationsTest.js
  package-lock.json
  package.json
Due: prettier --write, eslint

npm run test-unit
  jest.config.js
  package.json
Due: prettier --write, eslint

test
  __tests__/js/e2e/page1Test.js
Due: prettier --write, eslint

update PostCSS
  package-lock.json
  package.json
Due: none

[tailwind] redesign in progress
  package-lock.json
  package.json
  postcss.config.js
  public/index.html
  public/page1.html
  src/css/index.css
  src/css/shared/index.css
  src/js/components/index/Content.js
  src/js/components/index/Layout.js
  src/js/components/index/Root.js
  tailwind.config.js
Due: prettier --write, eslint, stylelint --fix

[tailwind] redesign in progress
  src/css/index.css
  src/css/index/li.css
  src/css/page1.css
  src/css/shared/tailwind.css
  src/js/components/index/Content.js
  src/js/components/index/Root.js
  src/js/components/page1/Content.js
  src/js/components/page1/Root.js
  src/js/components/shared/Layout.js
Due: prettier --write, eslint, stylelint --fix

[tailwind] redesign in progress
  src/js/components/page1/Content.js
  src/js/components/shared/Layout.js
Due: prettier --write, eslint

CustomNavLink
  src/js/components/index/Content.js
  src/js/components/shared/Layout.js
  src/js/components/shared/NavLink.js
Due: prettier --write, eslint

CSS refactoring
  src/css/shared/index.css
  src/js/components/shared/NavLink.js
  tailwind.config.js
Due: prettier --write, eslint, stylelint --fix

CSS
  src/js/components/index/Content.js
  src/js/components/shared/NavLink.js
Due: prettier --write, eslint

active style
  src/js/components/shared/NavLink.js
Due: prettier --write, eslint

index is done visually
  src/js/components/index/Content.js
  src/js/components/shared/Layout.js
Due: prettier --write, eslint

redesign page1 - in progress
  public/index.html
  public/page1.html
  src/js/components/index/Content.js
  src/js/components/page1/ArticleList.js
  src/js/components/page1/Content.js
  src/js/components/shared/Layout.js
Due: prettier --write, eslint

visual fixes
  src/css/shared/index.css
  src/js/components/index/Content.js
  src/js/components/page1/Assets.js
  src/js/components/shared/Layout.js
Due: prettier --write, eslint, stylelint --fix

css
  src/js/components/page1/Content.js
Due: prettier --write, eslint

css
  .stylelintrc
  src/css/page1.css
  src/js/components/page1/Article.js
  src/js/components/page1/ArticleList.js
  src/js/components/page1/Content.js
  src/js/components/page1/Footer.js
  src/js/components/page1/Link.js
Due: prettier --write, eslint, stylelint --fix

ui changes
  src/css/page1.css
  src/js/components/index/Content.js
  src/js/components/page1/ArticleList.js
  src/js/components/page1/Content.js
  src/js/components/page1/Filter.js
  src/js/components/page1/Footer.js
  src/js/components/page1/Root.js
Due: prettier --write, eslint, stylelint --fix
